.stage {
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between;   
    -webkit-align-items: center; /* Safari */
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.stage-text {
    -webkit-justify-content: flex-end; /* Safari */
    justify-content: flex-end;   
}
