.card {    
    width: 250px;
    height: 250px;
    margin: 0 15px;
    border-radius: 15px;
    position: relative;
}

.card .in {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.card .del {
    position: absolute;
    bottom: 5px;
    right: 10px
}

.prioritet1{
    background-color: red;
}

.prioritet2{
    background-color:darkorange;
}

.prioritet3{
    background-color:gold;
}

.prioritet4{
    background-color:chartreuse;
}

.prioritet5{
    background-color:seagreen;
}

.title {
    padding-top: 70px;
    font-size: 16px;
    text-align: center;
}

