.green{
    border: 1px solid green
}

.alert{
    border:1px solid red
}

.prioritet1{
  background-color: red;
}

.prioritet2{
  background-color:darkorange;
}

.prioritet3{
  background-color:gold;
}

.prioritet4{
  background-color:chartreuse;
}

.prioritet5{
  background-color:seagreen;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.form .column {
 width: 50%;
 padding: 10px;
 background-color: rgb(221, 219, 219);
 padding: 25px 25px 25px 75px;
}

.form div:first-child {
  margin-right: 20px;
  position: relative;
}

.column {
  min-height: 400px;
  margin-bottom: 30px;
}

.create {
  display: block;
  position: absolute;
  bottom: 30px;
}




