<h2 class="stage-header">Етапи проекту :</h2>
<div *ngIf = "stages">
<ul cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <li class="example-box" *ngFor="let stage of stages; let i=index" cdkDrag>
    <app-stages 
      [stage] = "stage"
      [titleProject] = "title"
      [index] = "i"
      (deleteStage)="deleteStage($event)"      
    ></app-stages>  
  </li>
</ul>

<app-add-stage
  (addStage) = "addStage($event)">   
</app-add-stage>
</div>
<h3 *ngIf = "!stages">Такого проекта не існує, або був видалений з Local Storage</h3>
<button class=add-btn routerLink="/"><=</button>

