/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-color:rgb(237, 237, 241);
  margin: 0;
}

.wrapper{
  margin: 0 60px;
}

  /* button {
    margin-top: 20px;
  } */
  /* ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
  } */

  app-modal {
    /* modals are hidden by default */
  
    display: none;
  }
  app-modal .app-modal {
    /* modal container fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .jw-modal-background */
  
    z-index: 1000;
    /* enables scrolling for tall modals */
  
    overflow: auto;
  }
  app-modal .app-modal .app-modal-body {
    padding: 20px;
    background:rgb(223, 212, 165);
    /* margin exposes part of the modal background */
  
    margin: 40px;
  }
  app-modal .app-modal-background {
    /* modal background fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
  
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .jw-modal and above everything else  */
  
    z-index: 900;
  }
  body.app-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
  }

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 7px 25px;
  margin: 0px 10px 10px 0px;
  /* float: left; */
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

input, select{
  font-size: 18px;
}

