<form [formGroup]="addStageForm">
  <label>
    <input formControlName="stageText" type="text" *ngIf="show" [ngClass]="{alert: f.stageText.invalid}">
    <div *ngIf="f.stageText.errors" class="alert">
          <p *ngIf="!f.stageText.errors.empty && f.stageText.errors.minlength">Мало символів</p>
          <p *ngIf="f.stageText.errors.empty">Опишіть етап проекту</p>   
          <p *ngIf="f.stageText.errors.maxlength">Надто багато слів</p>
          <p *ngIf="f.stageText.errors.word">Надто довге слово</p> 
    </div> 
  </label>        
  <button class="action-button animate blue" type="button" [disabled]="!addStageForm.valid" (click)="toglle()">
    {{show ? 'Створити новий етап проекту' : 'Додати новий етап проекту'}}
  </button>  
</form>